<div
	appScrollWithLoading
	(crossBorderEvent)="loadData($event)"
	class="m-auto pb-1 list-wrapper px-4"
	[ngClass]="{ 'bg-theme': themeServise.stateTheme.themeBlack }"
>
	<div
		class="row hover mb-2 book-item-row py-2"
		[ngClass]="{
			'text-white': themeServise.stateTheme.themeBlack,
		}"
		*ngFor="let product of productList; let i = index"
	>
		<div class="col-1 text-center d-flex align-items-center justify-content-center">{{ i + 1 }}</div>
		<div class="col-1 d-none d-md-flex align-items-center justify-content-center">
			<img class="img-fluid" [src]="product.imageUrls[0]" [alt]="product.id" />
		</div>
		<div class="col-8 col-md-6 d-flex align-items-center fs-4 fs-md-5 fs-sm-6 fs">{{ product.name }}</div>
		<div class="col col-md-4 d-flex align-items-center justify-content-end">
			<div class="d-flex flex-row px-3 py-2">
				<button
					name="remove"
					(click)="emitIdAndActionName({ id: product.id, action: $event })"
					class="buttonsControl btn btn-danger fs-5"
				>
					Remove
				</button>
				<button
					(click)="emitIdAndActionName({ id: product.id, action: $event })"
					class="buttonsControl ms-3 btn btn-primary fs-5"
					name="edit"
				>
					Edit
				</button>
			</div>
		</div>
	</div>
</div>
