.list-wrapper {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 60vh;
}
.book-item-row {
	min-height: 80px;
}
.list-wrapper::-webkit-scrollbar {
	width: 5px;
}

.list-wrapper::-webkit-scrollbar-thumb {
	background-color: #4a4a4ac0;
	border-radius: 5px;
}

.list-wrapper::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

:host {
	margin-top: 50px;
	z-index: 0;
}
.buttonsControl {
	min-width: 50px;
}

.hover:hover {
	color: rgba(255, 255, 255, 0.585);
}

.bg-theme {
	background-color: rgb(52, 52, 52);
	border: white 1px solid;
	border-radius: 5px;
}
