.container {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 45vh;
	padding: 1% 5%;
}
:host {
	margin-top: 50px;
	z-index: 0;
}
.buttonsControl {
	min-width: 50px;
}

.hover:hover {
	color: rgba(255, 255, 255, 0.585);
}

.bg-theme {
	background-color: rgb(52, 52, 52);
	border: white 1px solid;
	border-radius: 5px;
}
