<div class="row statistics">
	<div class="col-12 col-lg-3 col-md-6 col-sm-6 mt-1">
		<!--		<div class="card text-center">-->
		<!--			<div class="card-body books" [ngClass]="{ 'bg-theme': themeServise.stateTheme.themeBlack }">-->
		<h5 class="fs-4 text-center"><b>Total Books</b></h5>
		<p class="fs-4 text-center">{{ totalBooks }}</p>
		<!--			</div>-->
		<!--		</div>-->
	</div>
	<div class="col-12 col-lg-3 col-md-6 col-sm-6 mt-1">
		<!--		<div class="card text-center">-->
		<!--			<div class="card-body books" [ngClass]="{ 'bg-theme': themeServise.stateTheme.themeBlack }">-->
		<h5 class="fs-4 text-center"><b>Total Comments</b></h5>
		<p class="fs-4 text-center">{{ totalComments }}</p>
		<!--			</div>-->
		<!--		</div>-->
	</div>
	<div class="col-12 col-sm-6 col-md-6 col-lg-3 mt-1">
		<!--		<div class="card text-center">-->
		<!--			<div class="card-body books" [ngClass]="{ 'bg-theme': themeServise.stateTheme.themeBlack }">-->
		<h5 class="fs-4 text-center"><b>Popular Books:</b></h5>
		<ul>
			<li *ngFor="let book of popularBooks">
				<p class="fs-4 text-center m-0">«{{ book.name }}»</p>
			</li>
		</ul>
		<!--			</div>-->
		<!--		</div>-->
	</div>
	<div class="col-12 col-lg-3 col-md-6 col-sm-6 mt-1">
		<!--		<div class="card text-center">-->
		<!--			<div class="card-body books" [ngClass]="{ 'bg-theme': themeServise.stateTheme.themeBlack }">-->
		<h5 class="fs-4 text-center"><b>Average Rating</b></h5>
		<p class="fs-4 text-center">{{ averageRating }}</p>
		<!--			</div>-->
		<!--		</div>-->
	</div>
</div>
