img {
	width: 100px;
}
.errorFormMessage {
	font-size: smaller;
	color: #e7071e;
}
.image-hover {
	transition: 0.5s ease;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #000;
}

.overlay i {
	color: #fff;
	font-size: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.position-relative:hover .image-hover {
	opacity: 0.3;
}

.position-relative:hover .overlay {
	opacity: 0.7;
}
