<div
	class="cart container-fluid d-flex flex-column justify-content-center"
	[ngClass]="{ 'text-white': themeServise.stateTheme.themeBlack }"
>
	<h2>Cart</h2>
	<ul>
		<li *ngFor="let item of cartItems; let i = index" class="cart-item">
			<app-cart-item
				[item]="item"
				(quantityChange)="updateQuantity($event)"
				(removeItem)="remove($event)"
			></app-cart-item>
		</li>
	</ul>
	<div class="cart-total text-center float-end wes">
		Total Cost: {{ totalCost | currencyChange: currencyService.getSelectedCurrency()}}
		<button
      routerLink="checkout"
      class="p-2 m-5 btn btn-outline-success"
      (click)="buyGogs()"
    >CheckOut Order</button>

	</div>
	<hr class="w-100" />
  <router-outlet></router-outlet>
</div>
