a {
	margin: 0;
	padding: 0;
}

.icon {
	width: auto;
	height: 40px;
}

.hover:hover {
	opacity: 0.8;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}

.title {
	font-size: 40px;
}

.cart {
	scale: 1.2;
}
