<header
	class="navbar navbar-expand-lg navbar-dark"
	[ngClass]="{ 'bg-dark': themeServise.stateTheme.themeWhite, 'bg-black': themeServise.stateTheme.themeBlack }"
>
	<div class="container px-4 px-lg-5">
		<a class="navbar-brand title" href="#!">Book store</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav w-100 me-auto mb-2 mb-lg-0 ms-lg-4 flex">
				<li class="nav-item">
					<a routerLink="" class="nav-link active hover" aria-current="page" href="#!"
						><img class="icon" src="/assets/home.png" alt=""
					/></a>
				</li>
				<li class="nav-item">
					<a
						(click)="requestToServer(); $event.preventDefault()"
						routerLink="admin"
						class="nav-link active hover"
						aria-current="page"
					>
						<img class="icon" src="/assets/admin.png" alt="" />
					</a>
				</li>
				<!-- <li class="nav-item flex"><app-theme-button></app-theme-button></li> -->
				<li class="nav-item cart">
					<app-cart-icon></app-cart-icon>
				</li>
				<li class="nav-item"><app-theme-button></app-theme-button></li>
			</ul>
			<!-- <form class="d-flex">
				<app-cart-icon></app-cart-icon>
			</form>
			<div class="d-flex">
				<app-theme-button></app-theme-button>
			</div> -->
		</div>
	</div>
</header>
