a {
	margin: 0;
	padding: 0;
	height: auto;
}

.home {
	display: flex;
}

.icon {
	width: auto;
	height: 32px;
}

.icon-home {
	width: auto;
	height: 30px;
}

.hover:hover {
	opacity: 0.8;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
}

.title {
	font-size: 36px;
}

.cart {
	scale: 0.9;
}

.pt {
	padding-top: 5px;
}
