.add-block {
	flex-basis: 100%; /* Occupies full width on mobile */
	margin-bottom: 20px; /* Adds margin on mobile */
	min-height: 100px;
	align-self: center;
}

.statistics {
	flex-basis: 100%; /* Occupies full width on mobile */
}

@media (min-width: 768px) {
	/* Adjusts layout for desktop (width of 768px or more) */
	.add-block {
		flex-basis: 25%; /* Takes up 25% of the width on desktop */
		margin-bottom: 0; /* Removes margin on desktop */
	}

	.statistics {
		flex-basis: 75%; /* Takes up 75% of the width on desktop */
	}
}

.bg-theme {
	background-color: rgba(91, 90, 90, 0.43);
	border: white 1px solid;
}
