<section class="py-5 bg-light wid">
    <ng-container *ngFor="let comment of activeComments.comments">
    <div class="alert alert-secondary p-3 ml" role="alert">
        <!--<h4 class="alert-heading">Well done!</h4>-->
        <p>{{comment.text}}</p>
        <hr>
        <p class="mb-0">{{comment.date}}</p>
    </div>
    </ng-container>
    <div class="px-5">
        <textarea class="form-control" rows="5" [(ngModel)]="comment"></textarea>
        
        
            <button
              class="btn btn-primary m-button"
              type="submit"
              (click)="onClick()"
              >Add Comment</button>
          
    </div>
</section>