.ml {
	margin-left: 4.5%;
	margin-right: 4.5%;
}

.m-button {
	margin-top: 10px;
}

section {
	background-color: rgba(154, 154, 154, 0.192);
	padding-bottom: 50px;
}

.theme {
	border: white solid 1px;
}
