.myTopBtn {
	display: block;
	position: fixed;
	width: 38px;
	height: 38px;
	bottom: 80px;
	right: 15px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: white;
	color: #212529;
	cursor: pointer;
	border-radius: 6px;
	border: 1px #212529 solid;
	font-size: 18px;
	opacity: 0;
	animation: openTopBtn 1s alternate forwards;
	transition: 0.2s;
}

@keyframes openTopBtn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.myBotBtn {
	display: block;
	position: fixed;
	width: 38px;
	height: 38px;
	top: 75px;
	right: 15px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: white;
	color: #212529;
	cursor: pointer;
	border-radius: 6px;
	border: 1px #212529 solid;
	font-size: 18px;
	animation: openBotBtn 1s alternate forwards;
	transition: 0.2s;
}

@keyframes openBotBtn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.myBtn:hover {
	background-color: #212529;
	color: white;
	border: white 1px solid;
}

.myBotBtnClose {
	display: block;
	position: fixed;
	width: 38px;
	height: 38px;
	top: 75px;
	right: 15px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: white;
	color: #212529;
	cursor: pointer;
	border-radius: 6px;
	border: 1px #212529 solid;
	font-size: 18px;
	animation: closeBotBtn 1s alternate forwards;
	transition: 0.2s;
}

@keyframes closeBotBtn {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
		z-index: -1;
	}
}

.myTopBtnClose {
	display: block;
	position: fixed;
	width: 38px;
	height: 38px;
	bottom: 80px;
	right: 15px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: white;
	color: #212529;
	cursor: pointer;
	border-radius: 6px;
	border: 1px #212529 solid;
	font-size: 18px;
	font-size: 18px;
	animation: closeTopBtn 1s alternate forwards;
	transition: 0.2s;
}

@keyframes closeTopBtn {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
		z-index: -1;
	}
}
