<form
  [formGroup]="form"
  (ngSubmit)=sendOrder()
class="d-flex flex-column gap-3 justify-content-center align-content-center">
  <input
    placeholder="First name"
    name="firstName"
    type="text">
  <input
    placeholder="Last name"
    name="lastName"
    type="text">
  <input
    placeholder="Type address for delivery"
    name="address"
    type="text">
  <input
    placeholder="Phone number"
    name="phoneNumber"
    type="number">
  <button type="submit">Send order</button>
</form>
<button
  (click)="sendOrder()"
>Send</button>
<p #response></p>
<p *ngIf="message">{{message}}</p>
