<main role="main">
	<section class="text-center">
		<div class="p-2 mb-2 bg-body-tertiary rounded-3">
			<label class="me-2">Filter by name: </label>
			<input class="my-2" (input)="filterProductsByName()" [(ngModel)]="filterInput" type="text" />
		</div>
	</section>
	<div class="album py-5 bg-light" >
        <div class="container min-vh-75"
             *ngIf="collectionObservable
             | async
             | sortProducts as products">
          <div
            class="row"
            *appPagination="
					let chunk of products | productsFilter : 'name' : filter;
					chunkSize: 9;
					let back = back;
					let next = next;
					let pageIndexes = pageIndexes;
					let selectedIndex = selectedIndex;
					let activeIndex = index
				"
          >
            <ng-container *ngFor="let book of chunk">
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img
                    class="card-img-top img-fluid product_img"
                    data-src="{{ book.imageUrls[0] }}"
                    alt="Card image cap"
                  />
                  <div class="card-body">
                    <p class="card-text fs-4">{{ book.name }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button
                          routerLink="product-page/{{ book.id }}"
                          type="button"
                          class="btn btn-sm btn-outline-dark"
                        >
                          View more ...
                        </button>
                      </div>
                      <small class="text-muted">{{ book.price | currency }}</small>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="pagination-container">
              <button class="pagination-control btn btn-outline-dark" (click)="back()">Back</button>
              <div class="page-indexes">
                <button
                  class="btn btn-outline-dark"
                  *ngFor="let index of pageIndexes"
                  [class.active]="activeIndex === index"
                  (click)="selectedIndex(index)"
                >
                  {{ index + 1 }}
                </button>
              </div>
              <button class="pagination-control btn btn-outline-dark" (click)="next()">Next</button>
            </div>
          </div>
        </div>
	</div>
</main>
