<main role="main">
	<section class="text-center">
		<div class="p-2 bg-light rounded-3">
			<!-- <label class="me-2">Filter by name: </label> -->
			<input
				class="my-1"
				(input)="filterProductsByName()"
				[(ngModel)]="filterInput"
				type="text"
				placeholder="Search🔍"
			/>
		</div>
	</section>
	<div class="album py-5 bg-light min-vh-75">
		<div class="container" *ngIf="collectionObservable | async | sortProducts as products">
			<div
				class="row"
				*appPagination="
					let chunk of products | productsFilter : 'name' : filter;
					chunkSize: 9;
					let back = back;
					let next = next;
					let pageIndexes = pageIndexes;
					let selectedIndex = selectedIndex;
					let activeIndex = index
				"
			>
				<ng-container *ngFor="let book of chunk">
					<div class="col-md-4 d-flex justify-content-center">
						<button
							routerLink="product-page/{{ book.id }}"
							(click)="scrollPageUp()"
							class="card mb-4 box-shadow align-self-center"
						>
							<img class="card-img-top img-fluid product_img" data-src="{{ book.imageUrls[0] }}" alt="Card image cap" />
							<div class="card-body">
								<p class="card-text responsive-text">{{ book.name }}</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group"></div>
									<small class="text-muted">{{ book.price | currency }}</small>
								</div>
							</div>
						</button>
					</div>
				</ng-container>
				<div class="pagination-container">
					<button class="pagination-control btn btn-outline-dark" (click)="back()">Back</button>
					<div class="page-indexes">
						<button
							class="btn btn-outline-dark"
							*ngFor="let index of pageIndexes"
							[class.active]="activeIndex === index"
							(click)="selectedIndex(index)"
						>
							{{ index + 1 }}
						</button>
					</div>
					<button class="pagination-control btn btn-outline-dark" (click)="next()">Next</button>
				</div>
			</div>
		</div>
	</div>
</main>
