a {
	text-decoration: none;
	display: inline-block;
	color: black;
}

input {
	margin-top: 30px;
}

.pagination-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-top: 2rem;
}

.pagination-container .page-indexes {
	display: flex;
	gap: 0.5rem;
}

.pagination-container .page-indexes button {
	padding: 0.5rem;
	cursor: pointer;
}

.pagination-container .page-indexes button .active {
	color: #007bff;
	font-weight: bold;
}
.card {
	width: 300px;
	height: 400px;
	overflow: hidden;
	position: relative;
}

.card {
	width: 300px;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.card-img-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70%;
	object-fit: contain;
	transition: transform 0.3s ease-in-out;
}

.card-body {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30%;
}

.responsive-text {
	font-size: 1.5rem;
}

@media (max-width: 1000px) {
	.responsive-text {
		font-size: 1rem;
	}
}

@media (max-width: 576px) {
	.responsive-text {
		font-size: 0.8rem;
	}
}
