a {
	text-decoration: none;
	display: inline-block;
	color: black;
}

.bg-theme {
	background-color: rgba(91, 90, 90, 0.43);
	border: white 1px solid;
	transition: 0.2s;
}

.card:hover {
	scale: 1.04;
}

input {
	margin-top: 30px;
}

.pagination-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-top: 2rem;
}

.pagination-container .page-indexes {
	display: flex;
	gap: 0.5rem;
}

.pagination-container .page-indexes button {
	padding: 0.5rem;
	cursor: pointer;
}

.pagination-container .page-indexes button .active {
	color: #007bff;
	font-weight: bold;
}

.card {
	width: 100%; /* Flexible width */
	max-width: 300px; /* Max width of 300px */
	height: 400px;
	overflow: hidden;
	position: relative;
	margin: 1em; /* Add a bit of margin */
	transition: 0.2s;
}

.card-img-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70%;
	object-fit: contain;
	transition: transform 0.3s ease-in-out;
}

.card-body {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30%;
}

.responsive-text {
	font-size: 1.5rem;
}

@media (max-width: 1000px) {
	.responsive-text {
		font-size: 1rem;
	}

	.card {
		width: 100%;
		max-width: 250px; /* Reduced max-width */
		height: 350px; /* Reduced height */
	}
}

@media (max-width: 576px) {
	.responsive-text {
		font-size: 0.8rem;
	}

	.card {
		width: 100%;
		max-width: 200px; /* Further reduced max-width */
		height: 300px; /* Further reduced height */
	}
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.border {
	border: solid white 3px;
}

.fs {
	font-size: 24px;
}

@media screen and (max-width: 1002px) {
	.fs {
		font-size: 18px;
	}
}

@media screen and (max-width: 576px) {
	.fs {
		font-size: 16px;
	}
}

.fs-price {
	font-size: 20px;
}

@media screen and (max-width: 1002px) {
	.fs-price {
		font-size: 15px;
	}
}

@media screen and (max-width: 576px) {
	.fs-price {
		font-size: 13px;
	}
}
