<div class="d-flex">
	<input
		class="form-control text-center me-3"
		id="inputQuantity"
		type="num"
		[(ngModel)]="quantity"
		style="max-width: 3rem"
	/>
	<button class="btn btn-outline-dark flex-shrink-0" type="button" (click)="onClick()">
		<i class="bi-cart-fill me-1"></i>
		Add to cart
	</button>
	<button class="button like" (click)="onLike()">Like</button>
</div>
<div class="wrap-reting">
	<h1>Rating:</h1>
	<fieldset class="rating">
		<input type="radio" id="star5" name="rating" value="5" /><label
			class="full"
			for="star5"
			title="Awesome - 5 stars"
			(click)="setRating(5)"
		></label>
		<input type="radio" id="star4half" name="rating" value="4 and a half" /><label
			class="half"
			for="star4half"
			title="Pretty good - 4.5 stars"
			(click)="setRating(4.5)"
		></label>
		<input type="radio" id="star4" name="rating" value="4" /><label
			class="full"
			for="star4"
			title="Pretty good - 4 stars"
			(click)="setRating(4)"
		></label>
		<input type="radio" id="star3half" name="rating" value="3 and a half" /><label
			class="half"
			for="star3half"
			title="Meh - 3.5 stars"
			(click)="setRating(3.5)"
		></label>
		<input type="radio" id="star3" name="rating" value="3" /><label
			class="full"
			for="star3"
			title="Meh - 3 stars"
			(click)="setRating(3)"
		></label>
		<input type="radio" id="star2half" name="rating" value="2 and a half" /><label
			class="half"
			for="star2half"
			title="Kinda bad - 2.5 stars"
			(click)="setRating(2.5)"
		></label>
		<input type="radio" id="star2" name="rating" value="2" /><label
			class="full"
			for="star2"
			title="Kinda bad - 2 stars"
			(click)="setRating(2)"
		></label>
		<input type="radio" id="star1half" name="rating" value="1 and a half" /><label
			class="half"
			for="star1half"
			title="Meh - 1.5 stars"
			(click)="setRating(1.5)"
		></label>
		<input type="radio" id="star1" name="rating" value="1" /><label
			class="full"
			for="star1"
			title="Sucks big time - 1 star"
			(click)="setRating(1)"
		></label>
		<input type="radio" id="starhalf" name="rating" value="half" /><label
			class="half"
			for="starhalf"
			title="Sucks big time - 0.5 stars"
			(click)="setRating(0.5)"
		></label>
	</fieldset>
</div>
