<div class="d-flex">
	<input
		class="form-control text-center me-3"
		id="inputQuantity"
		type="num"
		[(ngModel)]="quantity"
		style="max-width: 3rem"
	/>
	<button
		class="btn flex-shrink-0"
		[ngClass]="{
			'btn-outline-dark': themeService.stateTheme.themeWhite,
			'btn-outline-light': themeService.stateTheme.themeBlack
		}"
		type="button"
		(click)="onClick()"
	>
		<i class="bi-cart-fill me-1"></i>
		Add to cart
	</button>
	<section class="container">
		<div class="button" (click)="scrollBottom()">
			<img *ngIf="themeService.stateTheme.themeWhite" class="comment-icon" src="assets/comment-black.png" />
			<img *ngIf="themeService.stateTheme.themeBlack" class="comment-icon" src="assets/comment-white.png" />
			<span>{{ sumComment }} reviews</span>
		</div>
	</section>
</div>
<app-star-rating
  [productId]="activeRating.id"
></app-star-rating>

