@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

.wrap-reting {
	display: flex;
	align-items: center;
}

fieldset,
label {
	margin: 0;
	padding: 0;
	position: relative;
}
body {
	margin: 20px;
}
h1 {
	font-size: 1.5em;
	margin: 10px;
}

.rating {
	border: none;
	float: left;
}

.rating > input {
	display: none;
}
.rating > label:before {
	margin: 5px;
	font-size: 2.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: '\f005';
}

.rating > .half:before {
	content: '\f089';
	position: absolute;
}

.rating > label {
	color: #ddd;
	float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
	color: #ffd700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
	color: #ffed85;
}

/**/

.wrap-reting {
	margin-top: 20px;
}

.comment-icon {
	width: 30px;
	margin-right: 3px;
	transition: 0.2s;
}

.button {
	height: 35px;
	width: 115px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button:hover {
	cursor: pointer;
}

.button:hover img {
	opacity: 0.7;
}

.container {
	display: flex;
	align-items: flex-end;
}
