<div class="col-12 wrap">
	<footer
		class="py-2 h d-flex align-items-center"
		[ngClass]="{ 'bg-dark': themeServise.stateTheme.themeWhite, 'bg-black': themeServise.stateTheme.themeBlack }"
	>
		<div class="container">
			<ul class="flex p-0 m-0">
				<li>
					<a href="https://uk-ua.facebook.com/" target="_blank">
						<img src="assets/face.png" class="media" alt="" />
					</a>
				</li>
				<li>
					<a href="https://twitter.com/" target="_blank">
						<img src="assets/twit.png" class="media" alt="" />
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/" target="_blank">
						<img src="assets/insta.png" class="media" alt="" />
					</a>
				</li>
				<li>
					<a href="https://web.telegram.org/a/" target="_blank">
						<img src="assets/telega.png" class="media" alt="" />
					</a>
				</li>
			</ul>
		</div>
	</footer>
</div>
