.h {
	height: 70px;
}

.flex {
	display: flex;
	justify-content: center;
	gap: 30px;
	color: white;
	list-style-type: none;
}

.media {
	height: 30px;
	width: auto;
}

.media:hover {
	opacity: 0.8;
}
